Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:espm="http://portfoliomanager.energystar.gov/ns" xmlns:hbd="http://hourlybuildingdata.com/ns"
	xmlns:haystack="https://project-haystack.org/def/ph/3.9.11#"
	targetNamespace="http://hourlybuildingdata.com/ns" 	
	elementFormDefault="qualified" attributeFormDefault="qualified" version="1.1">
	
	<!-- 
		Conceptually, this model is an extension of the ESPM data model.
		Where technically possible and feasible, this XML Schema extends XML Schema elements of the ESPM model or links to them. 
	-->
	<import namespace="http://portfoliomanager.energystar.gov/ns" schemaLocation="http://hourlybuildingdata.com/ns/espm/espm.xsd" />
	
	<import namespace="https://project-haystack.org/def/ph/3.9.11#" schemaLocation="http://hourlybuildingdata.com/ns/haystack.xsd" />
	
	<element name="tags">
		<complexType>
			<sequence>
				<element ref="haystack:haystack" minOccurs="0" maxOccurs="unbounded"/>							
			</sequence>
		</complexType>
	</element>
	<element name="participant">
		<annotation>
			<documentation>Configuration of a consortium participant managing properties</documentation>
		</annotation>		
		<complexType>
			<sequence>
				<element name="name" type="string" minOccurs="1" maxOccurs="1" />
				<element name="contact" type="espm:contactType"/>
				<element name="connectors">
					<annotation>
						<documentation>Connectors to meters managed (provided) by the participant, including those specific to properties managed by the participant but also provided for others (such as weather or grid emissions)</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="connector" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="meterURI" type="anyURI" minOccurs="1" maxOccurs="unbounded"/>
										<element name="timezone" type="string" minOccurs="1" maxOccurs="1">
											<annotation>
												<documentation>Anticipated time zone of the data given to the plugin, such as EST</documentation>
											</annotation>
										</element>
										<element name="function" type="string" minOccurs="1" maxOccurs="1">
											<annotation>
												<documentation>Path or link to the function to be called</documentation>
											</annotation>
										</element>
										<element name="fetchStrategy" minOccurs="1" maxOccurs="1">
											<complexType>
												<choice>
													<element name="pull">
														<complexType>
															<sequence>
																<element name="frequency" type="string" fixed="hourly" minOccurs="1" maxOccurs="1">
																	<annotation>
																		<documentation>To be extended if quarterly or daily pull frequencies would ever be needed</documentation>
																	</annotation>
																</element>
															</sequence>
														</complexType>
													</element>
													<element name="push">
														<complexType>
															<sequence>
																<element name="description" type="string" minOccurs="1" maxOccurs="1">
																	<annotation>
																		<documentation>User facing description of the file to be uploaded</documentation>
																	</annotation>
																</element>
															</sequence>
														</complexType>
													</element> 
												</choice>
											</complexType>
										</element>
										<element name="parameter" minOccurs="0" maxOccurs="unbounded">
											<annotation>
												<documentation>Input parameters of the function</documentation>
											</annotation>
											<complexType>
												<attribute name="property" type="string" />
												<attribute name="value" type="string" />
											</complexType>
										</element>																
										<element name="rawDataLocation">
											<annotation>
												<documentation>Storage specification for raw data; location for standardized data is specified with the meter</documentation>
											</annotation>
											<complexType>
												<attribute name="bucket" type="anyURI"/>
												<attribute name="path" type="string" />
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="properties">
					<annotation>
						<documentation>Properties managed by the participant</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="propertyURI" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</complexType>
				</element>
				<element ref="hbd:tags" minOccurs="0" maxOccurs="1"/>				
				<element name="audit" type="espm:logType" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	
	<!-- 
		Note: ESPM propertyType was altered, with xs:all replaced with xs:sequence, to allow multiple uses per property. 
	-->
	<element name="property">
		<annotation>
			<documentation>Configuration of a property that is metered</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="espm:propertyType">
					<sequence>
						<element name="propertyURI" minOccurs="1" maxOccurs="1" type="anyURI" />
						<element name="datacenterOver75kW" type="boolean" minOccurs="0" maxOccurs="1"/>
						<element name="propertyUses" minOccurs="1" maxOccurs="1">
							<complexType>
								<sequence>
									<element name="office" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="useDetails">
													<complexType>
														<sequence>
															<!-- ESPM fields -->
															<element ref="espm:totalGrossFloorArea"/>
															<element ref="espm:weeklyOperatingHours" minOccurs="0"/>
															<element ref="espm:numberOfWorkers" minOccurs="0"/>
															<element ref="espm:numberOfComputers" minOccurs="0"/>
															<element ref="espm:percentOfficeCooled" minOccurs="0"/>
															<element ref="espm:percentOfficeHeated" minOccurs="0"/>
															<!-- Extension fields -->															
															<element name="percentRetail" type="unsignedInt" minOccurs="0"/>
														</sequence>
													</complexType>
												</element>
												<element ref="hbd:useTiming" minOccurs="0" maxOccurs="1"/>												
											</sequence>
										</complexType>										
									</element>
									<element name="parking" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="useDetails">
													<complexType>
														<sequence>
															<!-- ESPM fields -->
															<element ref="espm:supplementalHeating" minOccurs="0"/>
															<element ref="espm:openFootage" minOccurs="0"/>
															<element ref="espm:completelyEnclosedFootage" minOccurs="0"/>
															<element ref="espm:partiallyEnclosedFootage" minOccurs="0"/>
															<!-- Extension fields -->															
														</sequence>
													</complexType>
												</element>
												<element ref="hbd:useTiming" minOccurs="0" maxOccurs="1"/>												
											</sequence>
										</complexType>										
									</element>
									<element name="supermarket" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="useDetails">
													<complexType>
														<sequence>
															<!-- ESPM fields -->
															<element ref="espm:totalGrossFloorArea"/>
															<element ref="espm:weeklyOperatingHours" minOccurs="0"/>
															<element ref="espm:numberOfWorkers" minOccurs="0"/>
															<element ref="espm:numberOfComputers" minOccurs="0"/>
															<element ref="espm:numberOfCashRegisters" minOccurs="0"/>
															<element ref="espm:numberOfWalkInRefrigerationUnits" minOccurs="0"/>
															<element ref="espm:numberOfOpenClosedRefrigerationUnits" minOccurs="0"/>
															<element ref="espm:percentCooled" minOccurs="0"/>
															<element ref="espm:percentHeated" minOccurs="0"/>
															<element ref="espm:singleStore" minOccurs="0"/>
															<element ref="espm:exteriorEntranceToThePublic" minOccurs="0"/>
															<element ref="espm:areaOfAllWalkInRefrigerationUnits" minOccurs="0"/>
															<element ref="espm:lengthOfAllOpenClosedRefrigerationUnits" minOccurs="0"/>
															<element ref="espm:cookingFacilities" minOccurs="0"/>
															<!-- Extension fields -->															
														</sequence>
													</complexType>
												</element>
												<element ref="hbd:useTiming" minOccurs="0" maxOccurs="1"/>												
											</sequence>
										</complexType>										
									</element>
									<element name="retail" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="useDetails">
													<complexType>
														<sequence>
															<!-- ESPM fields -->
															<element ref="espm:totalGrossFloorArea" />
															<element ref="espm:weeklyOperatingHours" minOccurs="0" />
															<element ref="espm:numberOfWorkers" minOccurs="0" />
															<element ref="espm:numberOfComputers" minOccurs="0" />
															<element ref="espm:numberOfCashRegisters" minOccurs="0" />
															<element ref="espm:numberOfWalkInRefrigerationUnits" minOccurs="0" />
															<element ref="espm:numberOfOpenClosedRefrigerationUnits" minOccurs="0" />
															<element ref="espm:percentCooled" minOccurs="0" />
															<element ref="espm:percentHeated" minOccurs="0" />
															<element ref="espm:singleStore" minOccurs="0" />
															<element ref="espm:exteriorEntranceToThePublic" minOccurs="0" />
															<element ref="espm:areaOfAllWalkInRefrigerationUnits" minOccurs="0" />
															<element ref="espm:lengthOfAllOpenClosedRefrigerationUnits"	minOccurs="0" />
															<element ref="espm:cookingFacilities" minOccurs="0" />
															<!-- Extension fields -->															
														</sequence>
													</complexType>
												</element>
												<element ref="hbd:useTiming" minOccurs="0" maxOccurs="1"/>												
											</sequence>
										</complexType>										
									</element>
									<element name="datacenter" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="useDetails">
													<complexType>
														<sequence>
															<!-- ESPM fields -->
															<element ref="espm:totalGrossFloorArea"/>
															<element ref="espm:estimatesApplied" minOccurs="0"/>
															<element ref="espm:coolingEquipmentRedundancy" minOccurs="0"/>
															<element ref="espm:itEnergyMeterConfiguration" minOccurs="0"/>
															<element ref="espm:upsSystemRedundancy" minOccurs="0"/>
															<!-- Extension fields -->															
														</sequence>
													</complexType>
												</element>
												<element ref="hbd:useTiming" minOccurs="0" maxOccurs="1"/>												
											</sequence>
										</complexType>										
									</element>
									<element name="k12School" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="useDetails">
													<complexType>
														<sequence>
															<!-- ESPM fields -->
															<element ref="espm:totalGrossFloorArea"/>
															<element ref="espm:openOnWeekends" minOccurs="0"/>
															<element ref="espm:numberOfWalkInRefrigerationUnits" minOccurs="0"/>
															<element ref="espm:percentCooled" minOccurs="0"/>
															<element ref="espm:percentHeated" minOccurs="0"/>
															<element ref="espm:numberOfComputers" minOccurs="0"/>
															<element ref="espm:cookingFacilities" minOccurs="0"/>
															<element ref="espm:isHighSchool" minOccurs="0"/>
															<element ref="espm:monthsInUse" minOccurs="0"/>
															<element ref="espm:schoolDistrict" minOccurs="0"/>
															<element ref="espm:studentSeatingCapacity" minOccurs="0"/>
															<element ref="espm:numberOfWorkers" minOccurs="0"/>
															<element ref="espm:gymnasiumFloorArea" minOccurs="0"/>
															<element ref="espm:grossFloorAreaUsedForFoodPreparation" minOccurs="0"/>
															<!-- Extension fields -->															
														</sequence>
													</complexType>
												</element>
												<element ref="hbd:useTiming" minOccurs="0" maxOccurs="1"/>												
											</sequence>
										</complexType>										
									</element>
									<element name="cafeteria" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="useDetails">
													<complexType>
														<sequence>
															<!-- ESPM fields -->
															<!-- Extension fields -->															
														</sequence>
													</complexType>
												</element>
												<element ref="hbd:useTiming" minOccurs="0" maxOccurs="1"/>												
											</sequence>
										</complexType>										
									</element>
									<!-- Extend here -->
								</sequence>
							</complexType>
						</element>
						<element name="meterPropertyAssociationList" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>Association and configuration of all meters applicable to this property.</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="energyMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
									<element name="occupancyMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
									<element name="averageEmissionsMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
									<element name="marginalEmissionsMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
									<element name="ambientTemperatureMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
									<element name="ambientWindSpeedMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
									<element name="ambientWindDirectionMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
									<element name="ambientHumidityMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
									<element name="ambientCloudCoverMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
									<element name="ambientDewPointMeterAssociation" type="hbd:meterAssocAndConfigType" minOccurs="0" maxOccurs="unbounded"/>
								</sequence>								
							</complexType>
						</element>
						<element ref="hbd:tags" minOccurs="0" maxOccurs="1"/>
						<element name="audit" type="espm:logType" minOccurs="0" maxOccurs="1"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>		
	</element> 
	
	<element name="useTiming">
		<annotation>
			<documentation>Timing and recurrence of property use</documentation>
		</annotation>
		<complexType>
			<choice>
				<element name="daily">
					<complexType>
						<sequence>
							<element name="startTime" type="time" minOccurs="1" maxOccurs="1"/>	
							<element name="endTime" type="time" minOccurs="1" maxOccurs="1"/>
							<element name="options" minOccurs="1" maxOccurs="unbounded">
								<simpleType>
									<restriction base="string">
										<enumeration value="Every Day"/>
										<enumeration value="Working Days Only"/>
										<enumeration value="Weekend and Holidays Only"/>
										<enumeration value="Other Schedule"/>
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="weekly">
					<complexType>
						<sequence>
							<element name="dayOfWeek" minOccurs="1" maxOccurs="7">
								<simpleType>
									<restriction base="string">
										<enumeration value="Monday"/>
										<enumeration value="Tuesday"/>
										<enumeration value="Wednesday"/>
										<enumeration value="Thursday"/>
										<enumeration value="Friday"/>
										<enumeration value="Saturday"/>
										<enumeration value="Sunday"/>
									</restriction>
								</simpleType>								
							</element>	
							<element name="options" minOccurs="1" maxOccurs="unbounded">
								<simpleType>
									<restriction base="string">
										<enumeration value="Every Day"/>
										<enumeration value="Except Holidays"/>
										<enumeration value="Other Schedule"/>
									</restriction>
								</simpleType>
							</element>							
						</sequence>
					</complexType>
				</element>
			</choice>
		</complexType>
	</element>												
	
	<complexType name="meterAssocAndConfigType">
		<sequence>
			<element name="meterURI" type="anyURI" minOccurs="1" maxOccurs="1" />
			<element name="weight" type="float" minOccurs="1" maxOccurs="1" >
				<annotation>
					<documentation>Weight with which this meter value would be included into the representative property value. Weight of 1 means including as-is</documentation>
				</annotation>
			</element>
			<element name="externalWeight" type="espm:linkType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Additional weight provided externally, to be multiplied by the 'weight', if provided</documentation>
				</annotation>
			</element>
			<element ref="espm:propertyRepresentation" minOccurs="1"/>
			<element ref="hbd:tags" minOccurs="0" maxOccurs="1"/>						
			<element name="audit" type="espm:logType" minOccurs="0" maxOccurs="unbounded" />			
		</sequence>
	</complexType>
	
	<element name="meter">
		<annotation>
			<documentation>A meter produces a single metered value per interval of time. That includes energy, occupancy, but also ambient temperature, wind speed, grid emissions.</documentation>
		</annotation>
		<complexType>
			<sequence>			
				<element name="meterURI" minOccurs="1" maxOccurs="1" type="anyURI" />
				<element name="type" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>Extension to ESPM types of meters</documentation>
					</annotation>
					<simpleType>
						<restriction base="xs:string">
							<enumeration value="Electric"/>
							
							<enumeration value="Occupancy"/>
							
							<enumeration value="Average Grid Emissions"/>
							<enumeration value="Marginal Grid Emissions"/>
							
							<enumeration value="Ambient Temperature"/>
							<enumeration value="Ambient Real Feel Temperature"/>
							<enumeration value="Ambient Wind Speed"/>
							<enumeration value="Ambient Wind Direction"/>
							<enumeration value="Ambient Humidity"/>
							<enumeration value="Ambient Cloud Cover"/>
							<enumeration value="Ambient Dew Point"/>
						</restriction>
					</simpleType>
				</element>
				<element name="unitOfMeasure"  minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>Extension to ESPM units of measure</documentation>
					</annotation>
					<simpleType>
						<restriction base="string">
							<enumeration value="persons">
								<annotation>
									<documentation>To be potentially split into person/hours (in the office) or person counts (passing by)</documentation>
								</annotation>
							</enumeration>
							
							<enumeration value="kWh (thousand Watt-hours)" />
							<enumeration value="lbs CO2 per kWh"/>
							
							<enumeration value="F (temperature in Fahrenheit)"/>
							<enumeration value="C (temperature in Celcius)"/>
							<enumeration value="K (temperature in Kelvin)"/>
							
							<enumeration value="m/s (wind speed, meters/second)"/>
							<enumeration value="Degrees (wind direction)"/>
							<enumeration value="% (ratio)"/>
						</restriction>
					</simpleType>						
				</element>
				<element name="updateFrequency">
					<simpleType>
						<restriction base="string">
							<enumeration value="Hourly"/>
							<enumeration value="Daily"/>
							<enumeration value="Weekly"/>
							<enumeration value="Monthly"/>
							<enumeration value="Special"/>
						</restriction>
					</simpleType>
				</element>
				<element name="meteredDataLocation">
					<annotation>
						<documentation>Location of standardized clean data represented in XML using the meterData tags</documentation>
					</annotation>
					<complexType>
						<attribute name="bucket" type="anyURI"/>
						<attribute name="path" type="string" />
					</complexType>
				</element>
				<element ref="hbd:tags" minOccurs="0" maxOccurs="1"/>
				<element name="audit" type="espm:logType" minOccurs="0" maxOccurs="unbounded" />				
			</sequence>
		</complexType>
	</element>
	
	<element name="meterData">
		<complexType>
			<annotation>
				<documentation>Meter consumption data represents a data value (a number) measured by a meter</documentation>
			</annotation>
			<complexContent>
				<extension base="espm:meterDataType">
					<sequence>
						<element name="meteredData" minOccurs="1" maxOccurs="unbounded" >
							<annotation>
								<documentation>Metered data, usually hourly. Describes energy, weather attibutes (temperature, wind, etc.), emissions, occupancy and any other metered characteristics.</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="meterURI" minOccurs="1" maxOccurs="1" type="anyURI" />
									<element name="startTime" minOccurs="1" maxOccurs="1" type="dateTime" >
										<annotation>
											<documentation>Start time is inclusive, thus, including the moment of strat time</documentation>
										</annotation>
									</element>
									<element name="endTime" minOccurs="0" maxOccurs="1" type="dateTime">
										<annotation>
											<documentation>End time is exclusive, thus, up to but not including the end time moment itself</documentation>
										</annotation>
									</element>
									<element name="usage" minOccurs="1" maxOccurs="1" type="decimal" />
									<element name="audit" type="espm:logType" minOccurs="1" maxOccurs="unbounded"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	
	<element name="connectorRequest">
		<annotation>
			<documentation>Call to a connector</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="meterURI" type="anyURI" minOccurs="1" maxOccurs="unbounded" />
				<element name="parameter" minOccurs="1" maxOccurs="unbounded">
					<annotation>
						<documentation>Input parameters of the function</documentation>
					</annotation>
					<complexType>
						<attribute name="property" type="string" />
						<attribute name="value" type="string" />
					</complexType>
				</element>																
				<element name="rawDataLocation">
					<annotation>
						<documentation>Storage specification for raw data; location for standardized data is specified with the meter</documentation>
					</annotation>
					<complexType>
						<attribute name="bucket" type="anyURI"/>
						<attribute name="path" type="string" />
					</complexType>
				</element>
				<element name="meteredDataLocation">
					<annotation>
						<documentation>Location of standardized clean data represented in XML using the meterData tags</documentation>
					</annotation>
					<complexType>
						<attribute name="bucket" type="anyURI"/>
						<attribute name="path" type="string" />
					</complexType>
				</element>				
			</sequence>
		</complexType>											
	</element>
	
	<element name="connectorResponse">
		<annotation>
			<documentation>Response returned by connectors with a brief report</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="recordCount" type="unsignedInt" minOccurs="1" maxOccurs="1" />
				<element name="message" type="string" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>
	
	<element name="aggregatorRequest">
		<annotation>
			<documentation>Requesting share of a certain meter in overall property representation</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="propertyURI" type="anyURI" minOccurs="1" maxOccurs="1" />
				<element name="meterURI" type="anyURI" minOccurs="1" maxOccurs="1" />
			</sequence>
		</complexType>											
	</element>
	
	<element name="aggregatorResponse">
		<annotation>
			<documentation>Response with a share of a certain meter</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="weight" type="float" minOccurs="1"  maxOccurs="1"/>
				<element name="validFrom" type="dateTime" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>Inclusive</documentation>
					</annotation>
				</element>
				<element name="validTill" type="dateTime" minOccurs="1" maxOccurs="1" >
					<annotation>
						<documentation>Exclusive</documentation>
					</annotation>					
				</element>
				<element name="message" type="string" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>
</schema>
